/* 頁面基礎樣式 */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* 外框樣式 */
.keygen-container {
    width: 400px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

/* 每個區域的樣式 */
.keygen-section {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fefefe;
    position: relative;
}

.section-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

/* 區域布局樣式 */
.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.last-row {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.col {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 8px;
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 8px;
}

/* 區域組件樣式 */
.input-label {
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    padding-left: 8px;
}

input, select {
    padding: 8px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.action-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    background-color: #4CAF50;
    color: white;
}

.action-btn:hover {
    background-color: #45a049;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* 隱藏 cut 輸入框的初始樣式 */
#input_cut {
    display: none;
}

/* 當 cut 選中時，顯示 cut 輸入框 */
#check_cut:checked + #input_cut {
    display: block;
}
