body {
    margin:0px;
    padding:0px;
    width: 100%;
    height: 100vh;
    background-color: black;
}

#div_content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#div_container{
	height: 100%;
    overflow: hidden;
}

.img_card {
    height: 100%;
}