@import url(https://fonts.googleapis.com/earlyaccess/cwtexkai.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexming.css);
h1{
    font-family: 'Helvetica', 'cwTeXKai', 'cwTeXYen', 'cwTeXFangSong', 'Noto Sans TC', 'cwTeXMing', sans-serif !important;
    font-size: 10vmin;
    font-weight: 800
}
h2{
    font-family: 'Helvetica', 'cwTeXYen', 'cwTeXKai', 'cwTeXFangSong', 'Noto Sans TC', 'cwTeXMing', sans-serif !important;
    font-size: 6vmin;
    font-weight: 800
}
h3{
    font-family: 'Arial Black', 'cwTeXKai', 'cwTeXYen', 'cwTeXFangSong', 'Noto Sans TC', 'cwTeXMing', sans-serif !important;
    font-size: 15vmin;
    font-weight: 800
}

.main-container{
    background-image:url('public/img/bg.jpg');
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
}