@import url(https://fonts.googleapis.com/earlyaccess/cwtexkai.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexming.css);
h1{
    font-family: 'cwTeXKai', 'cwTeXYen', 'cwTeXFangSong', 'Noto Sans TC', 'cwTeXMing', sans-serif !important;
    font-size: 10vmin;
    font-weight: 800
}
input{
    font-family: 'cwTeXFangSong', 'cwTeXKai', 'cwTeXYen', 'Noto Sans TC', 'cwTeXMing', sans-serif !important;
    font-size: 5vmin;
    font-weight: 400
}

.main-container{
    background-image:url('public/img/bg.jpg');
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -ms-background-size: 100% 100%;
    -o-background-size: 100% 100%;
}
.svg-index-down{
    width: 5vmin;
    height: 5vmin;
    color: red;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
@-webkit-keyframes drop {
    0%   { top:0px;  opacity: 0;}
    30%  { top:3px; opacity: 1;}
    100% { top:10px; opacity: 0;}
}
@keyframes drop {
    0%   { top:0px;  opacity: 0;}
    30%  { top:3px; opacity: 1;}
    100% { top:10px; opacity: 0;}
}
/*应用动画，添加按钮效果*/
.scroll-down span {
    position: relative;
    color: #bbb;
    font-size: 24px;
    -webkit-animation-name: drop;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: drop;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
.btn-main{
    color: white;
    background-color:#4fdfff;
    border-width: 0px;
    border-radius: 10px;
}
.btn-main:hover{
    color: white;
    background-color:#29d8ff;
    border-width: 0px;
    border-radius: 10px;
}
.btn-main:active{
    color: white;
    background-color:#29d8ff;
    border-width: 0px;
    border-radius: 10px;
}
.btn-main:focus{
    color: white;
    background-color:#29d8ff;
    border-width: 0px;
    border-radius: 10px;
}